#centerPreloader {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body {
	background-color: #fffff4;
}

.card-title img {
    margin-right: 5px;
    float: left;
    margin-top: -17px;
}

#imgOutp {
	position: relative;
}
#selectIMG {
	position: absolute; 
	/*right: 5px; 
	top: 5px;*/ 
	top: 212px;
	right: 35px;
}
